# Build artifacts
**/build/
**/build.bat

# ESP-IDF generated dependencies
**/managed_components/
**/dependencies.lock

# ESP-IDF config
**/sdkconfig
**/sdkconfig.old

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo

# Temp
*.tmp
*.log

# OS
Thumbs.db
.DS_Store